.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-col {
  border: 1px solid white;
  width: 40%;
  min-height: 100vh;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 1.5rem;
}

.login-container {
  /* border: 1px solid red; */
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  /* Change flex-shrink to 0 so the form doesn't try to get crushed */
  flex-shrink: 0;

  max-width: 100%;

  /* Optional: Add width to keep it looking like a form card */
  width: 100%;
  max-width: 400px; /* Adjust based on your design preferences */
}

.right-col {
  border: 1px solid white;
  width: 60%;
  min-height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 35px;
  }
}

.nav {
  /* border: 1px solid red; */
  border-radius: var(--border-radius);
  display: flex;
  /* margin: 0 auto; */
  width: 100%;
  padding: 0.3rem;
  background-color: var(--secondary);
  justify-content: center;
  align-items: center;
}
.nav ul {
  /* border: 1px solid red; */
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  width: 24.5rem;
  max-width: 100%;
}

.nav li {
  /* border: 1px solid white; */
  border-radius: var(--border-radius);
  height: 3rem;
  padding: 0.7rem;
  text-align: center;
  cursor: pointer;
  flex: 1 1;
  background-color: var(--border-color);
}
.nav-active {
  background-color: var(--bg-card);
  transition: all;
}

.email-container,
.password-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

form label {
  font-size: 20px;
}
form #email,
#password {
  position: relative;
  background-color: var(--secondary);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 100%;
  height: 3rem;
  /* outline: 1px solid white; */
  font-size: 16px;
  padding: 1rem;
  color: var(--text-main);
}
.input-icon {
  position: absolute;
  right: 18px; /* fixed distance from edge */
  top: 67%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  pointer-events: none;
}

.forgot-password-container {
  /* border: 1px solid white; */
  border-radius: var(--border-radius);
  width: 25rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.forgot-password {
  text-decoration: none;
  color: var(--primary-hover);
}

.sign-in-btn {
  border: none;
}

.remember-me input:checked {
  outline: none;
  /* background: green; */
  accent-color: var(--secondary);
}

.line-separator {
  display: flex;
  align-items: center;
  color: #6c757d;
  gap: 1rem;
  margin: 2rem 0;
  width: 100%;
}

.line-separator::before,
.line-separator::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #3e444e;
}

.third-party-login-btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.google-login,
.microsoft-login {
  border: none;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  background-color: var(--secondary);
  justify-content: center;
  align-items: center;
  gap: 10px;

  svg {
    width: 20px;
    height: 20px;
    display: block;
  }
}

.contact-support {
  text-align: center;

  .contact-support-link {
    text-decoration: none;
    color: var(--primary-hover);
  }
}

